<h4>Listing Toons</h4>
<br />

<div class="toon_index">
<table class="table .table-striped">
  <tr>
    <th>Toon Name</th>
    <th>Toon Description</th>
    <th>Why Fav</th>
  </tr>

<% @unapproved.each do |toon| %>
  <tr >
    <td><%=h toon.name %></td>
    <td style=" width: 227px;"><span><%=h toon.description[0,100] %> ...</span></td>
    <td style=" width: 227px;"><span><%=h toon.why_fav[0,100] %> ...</span></td>
    <td><%= link_to 'Show', toon %></td>
    
    <td><%= link_to 'Approve',approve_path(toon), :confirm => 'Are you sure?' %></td>
    <td><%= link_to 'Disapprove',disapprove_path(toon), :confirm => 'Are you sure?' %></td>

  </tr>
<% end %>
</table>
</div>

<br />
